.first{
	width: 788px;
    height: 426px;
    padding: 88px;
    background-image: url(f1.jpg);
    margin-top: 28px;
    margin-left: 196px;
    opacity: 1;
}
.text{
	margin-left: -7px;
    margin-top: -58px;
    font-size: 36px;
	color: white;
	text-align: center;
}
.blank{
	width: 317px;
    height: 315px;
    padding: 40px;
    margin-top: 20px;
    margin-left: 193px;
    background-color: #45413e;
    border: 1px solid black;
    opacity: 0.8;
}
.p1{
	margin-top: -13px;
    margin-left: -16px;
    color: white;
    font-size: 15px;
}
.p2{
	margin-top: 22px;
    margin-left: -13px;
    color: white;
    font-size: 15px;
}
.p3{
    margin-top: 15px;
    margin-left: -13px;
    color: white;
    font-size: 15px;
}
.text1{
	width: 321px;
    height: 17px;
    padding: 8px;
    margin-top: -13px;
    margin-left: -14px;
    background-color: #272624;
    border: 1px solid white;
    color: white;
}
.text2{
	width: 321px;
    height: 17px;
    padding: 8px;
    margin-top: -10px;
    margin-left: -14px;
    background-color: #272624;
    border: 1px solid white;
    color: white;
}
.text3{
	width: 321px;
    height: 17px;
    padding: 8px;
    margin-top: -8px;
    margin-left: -14px;
    background-color: #272624;
    border: 1px solid white;
    color: white;
    font-size: 10px;;
}
.p4{
	margin-top: 15px;
    margin-left: -13px;
    color: white;
    font-size: 15px;
}
.text4{
	width: 321px;
    height: 17px;
    padding: 8px;
    margin-top: -8px;
    margin-left: -14px;
    background-color: #272624;
    border: 1px solid white;
    color: white;
    font-size: 10px;
}
.text5{
	width: 77px;
    height: 18px;
    padding: 8px;
    margin-top: 26px;
    margin-left: -14px;
    border: 1px solid white;
    color: white;
    background-color: #b27b14;
    font-size: 17px;
    text-align: center;
}
.last{
	margin-left: -73px;
    margin-right: -250px;
    margin-top: 59px;
    color: white;
    font-size: 14px;
}
