.main{
	background-color: #222271;
	padding: 34px;
	width: 1272px;
}
.fb{
	margin-left: 291px;
	color: white;
	margin-top: -76px;
}
.blnk
{
	background-color: white;
	margin-left: 791px;
    padding: 9px;
    width: 109px;
    margin-top: -50px;
}
.blnk1
{
	background-color: white;
	margin-left: 964px;
    padding: 9px;
    width: 109px;
    margin-top: -17px;
}
.ph{
	color: white;
    margin-top: -37px;
    margin-left: 802px;
}
.pas
{
	color: white;
	margin-top: -18px;
    margin-left: 990px;
}
.for{
	color: #d4abab;
	margin-top: 19px;
    margin-left: 969px;
}
.log{
	color: white;
    margin-top: -37px;
    margin-left: 1100px;
    padding: 2px;
    width: 46px;
    border: 1px;
    background-color: #454594;
}
.front{
	background-color: white;
	padding: 64px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: -7px;
    height: 450px;
}
.sign{
	color: black;
	margin-top: -41px;
    margin-left: 736px
}
.text{
	margin-top: -19px;
    color: black;
}
.first{
	 margin-left: 734px;
    margin-top: 19px;
    width: 122px;
    background-color: white;
     padding: 3px;
    border: 1px solid blue;
}
.text1{
    margin-left: 892px;
    margin-top: -25px;
    width: 122px;
    background-color: white;
    padding: 3px;
    border: 1px solid blue;
}
.text2{
	margin-left: 736px;
    margin-top: 10px;
    width: 275px;
    background-color: white;
    padding: 3px;
    border: 1px solid blue;
}
.text3{
	margin-left: 736px;
    margin-top: 10px;
    width: 275px;
    background-color: white;
    padding: 3px;
    border: 1px solid blue;
}
.text4{
	margin-left: 736px;
    margin-top: 10px;
    width: 275px;
    background-color: white;
    padding: 3px;
    border: 1px solid blue;
}
.text5{
	margin-left: 736px;
    margin-top: -10px;
    color: black; 
}
.text6{
	margin-left: 736px;
    margin-top: 10px;
    width: 34px;
    background-color: white;
    padding: 3px;
    border: 1px solid blue;
}
.text7{
	margin-left: 781px;
    margin-top: -25px;
    width: 42px;
    background-color: white;
    padding: 3px;
    border: 1px solid blue;
}
.text8{
   margin-left: 836px;
    margin-top: -26px;
    width: 38px;
    background-color: white;
    padding: 3px;
    border: 1px solid blue;
}
.text9{
	margin-left: 892px;
    margin-top: -26px;
    color: #2828d0;
}
.text10{
	margin-left: 735px;
    margin-top: 6px;
    color: black;
}
.sign2{
	margin-left: 739px;
    margin-top: 6px;
    color: white;
    background-color: #39da39;
    padding: 2px;
    width: 145px;
    height: 21px;
    text-align: center;
}
.text11{
	margin-top: -408px;
    margin-left: 209px
}
.text12{
	    margin-top: -13px;
    margin-left: 192px;
     color: #2828d0;
}
.text13{
     margin-top: -13px;
     margin-left: 208px;
    color: black;
}
.text14{
	margin-top: -30px;
    margin-left: 729px;
    color: black;
}
span{
   color: #2828d0;	
}