.div{
    background-color: blue;
    border: 2px solid black;
    margin:auto;
    width: 500px;
    height: 500px;
    margin-top: 4px;
    border-radius: 60%;
    background-image: url("3.jpg");
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.div:hover{
    background-color: yellow;
   /* width: 150px;
    height: 150px;*/
    /*transform: scale(0.2,0.4);*/
   transform: rotate(3060deg) scale(0.2,0.4);
   /* transform: skewY(40deg);*/
}